@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{ 
    var Главная                = Model.AncestorOrSelf<Home_Page>();
    var navigation             = Главная.VisibleChildren();
    var urlОКомпании           = navigation.Where(x => x is About_Page).First().Url;
    var urlВидыУслуг           = navigation.Where(x => x is Service_List_Page).First().Url;
    var urlВидыРемонтовКвартир = navigation.Where(x => x is Service_Category_Page).First().Url;
    var urlВыполненныеПроекты  = navigation.Where(x => x is Projects_Page).First().Url;

    var abPage                 = navigation.Where(x => x is About_Page).First();

    var Контакты                = (Contacts_Page)navigation.Where(x => x is Contacts_Page).First();
    var urlКонтакты             = Контакты.Url;


    var urlSvg_Creator          = Главная.Svg_Creator.Url;

    var textНомерТелефона_1     = Контакты.PhoneNumber_1;
    var textНомерТелефона_2     = Контакты.PhoneNumber_2;
    
    var textMail                = Контакты.Email_1;
    
}

<header class="page-header" id="pageHeader">
    <div class="page-header__main">
        <div class="wrapper">
            <button class="burger" id="menuBurger"></button>
            <a href="@Главная.Url" class="logo">Imperio-Stroy</a>

            <div class="links for-big">
                <a href="@urlВидыУслуг">ремонт квартиры</a>
                <a href="#">ремонт дома</a>
            </div>

            <button class="callback not-small">оставить заявку</button>

            <div class="phone not-small">
                <a href="tel:@textНомерТелефона_1.ToPhone()">@textНомерТелефона_1</a>
            </div>
        </div>
    </div>
    <div class="page-header__menu">
        <div class="wrapper">
            <button class="menu-close" id="menuClose"><span>Закрыть</span></button>

            <div class="menu-section">
                <nav class="first-menu">
                    <ul>
                        <li><a href="@urlВидыРемонтовКвартир">ремонт <span>Квартир</span></a></li>
                        <li><a href="#">ремонт <span>Комнат</span></a></li>
                        <li><a href="#">ремонт <span>Частных домов</span></a></li>
                        <li><a href="#">ремонт <span>Нежилых помещений</span></a></li>
                    </ul>
                </nav>
                <nav class="second-menu">
                    <ul>
                        <li><a href="@urlВыполненныеПроекты">Выполненые проекты</a></li>
                        <li><a href="@urlВидыУслуг">Тарифы и стоимость</a></li>
                        <li><a href="#">Полезные статьи</a></li>
                        <li><a href="@abPage.Url">@abPage.NavigationTitle()</a></li>
                        <li><a href="@urlКонтакты">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="contacts">
                <p><a href="tel:@textНомерТелефона_1.ToPhone()">@textНомерТелефона_1</a></p>
                <p><a href="tel:@textНомерТелефона_2.ToPhone()">@textНомерТелефона_2</a></p>
                <p><a href="mailto:@textMail">@textMail</a></p>

                <div class="social-icons">
                    @if (Контакты.SocialNetworks != null && Контакты.SocialNetworks.Any())
                    {
                        <div class="social-icons">
                            @foreach (var item in Контакты.SocialNetworks.Cast<SocialNetwork>())
                            {
                                <a href="@item.Link" target="_blank"><svg class="icon @item.Icon"><use xlink:href="~/assets/images/svg-symbols.svg#@item.Icon"></use></svg></a>
                            }
                        </div>
                    }
                </div>

                <button class="callback not-small">оставить заявку</button>
            </div>
        </div>
    </div>
</header>

