@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@using PoLibrary

@{
    var Главная         = Model.AncestorOrSelf<Home_Page>();
    var navigation      = Главная.VisibleChildren();

    var ВидыРемонтов    = (Service_List_Page)navigation.Where(x => x is Service_List_Page).First();
    var urlВидыРемонтов = ВидыРемонтов.Url;
}

<!-- Секция виды ремонта с расценками Стандарт/Премиум -->
<section class="block-default main-tabs-block">
    <div class="wrapper">

        @ВидыРемонтов.SectionHowMuchRepairTitile

        <div class="main-tabs-block__images slick-slider rellax-bigonly" data-rellax-speed="2" data-rellax-percentage="0.5" data-slick="mainTabsBlockImages" id="mainTabsBlockImages">
            @foreach (TypeRepair item in ВидыРемонтов.SectionHowMuchRepairList)
            {
                <div class="slick-item">
                    <img src="@item.PictureTypeRepar.Url" alt="alt">
                    <span>@item.TextToPicture</span>
                </div>
            }
        </div>

        <div class="main-tabs-block__text slick-slider slick-tabbed" data-slick="mainTabsBlockText" id="mainTabsBlockText">
            @foreach (TypeRepair item in ВидыРемонтов.SectionHowMuchRepairList)
            {
                <div class="slick-item" data-slick-tab="@item.Caption">
                    <p>@item.RepairTypeDescription</p>
                    <ul>
                        @foreach (var menu in item.ListOfRepairWorks)
                        {
                            <li><a href="#">@menu</a></li>
                        }
                    </ul>
                    <div class="foot">
                        @item.PriceUpTo
                    </div>
                </div>
            }

        </div>

    </div>
</section>


