@inherits Umbraco.Web.Mvc.UmbracoViewPage<About_Page>
@{
    Layout = "_Layout.cshtml";
}

@{ 
    var homePage              = Model.AncestorOrSelf<Home_Page>();
    var navigation            = homePage.VisibleChildren();
    var urlОКомпании          = navigation.Where(x => x is About_Page).First().Url;
    var urlServiceList        = navigation.Where(x => x is Service_List_Page).First().Url;
    var urlКонтакты           = navigation.Where(x => x is Contacts_Page).First().Url;
    var urlServiceCategory    = navigation.Where(x => x is Service_Category_Page).First().Url;
    var urlВыполненныеПроекты = navigation.Where(x => x is Projects_Page).First().Url;

    var abPage = navigation.Where(x => x is About_Page).First();

    var urlФонЗаголовка = @Model.HeaderBackgroundImage.ToSafeImage(width:1920).Url;    
    var urlНачальника   = @Model.CompanyExecutivePicture.ToSafeImage().Url;
    var urlПрораба      = @Model.ConstructionManagerPicture.ToSafeImage().Url;

    var urlФото_1        = @Model.Photo_1.ToSafeImage().Url;
    var urlФото_2        = @Model.Photo_2.ToSafeImage().Url;
    var urlФото_3        = @Model.Photo_1.ToSafeImage().Url;
    var urlФото_4        = @Model.Photo_2.ToSafeImage().Url;
    var urlФото_5        = @Model.Photo_1.ToSafeImage().Url;
    var urlФото_6        = @Model.Photo_2.ToSafeImage().Url;

    var urlPhoto_Callback_bg        = @Model.Photo_Callback_bg.ToSafeImage().Url;
}




<main>
    <section class="top-block-default">
        <div class="top-block-default__bg rellax-bg">
            <div class="rellax-item" data-rellax-speed="-6"
                 style="background-image: url(@urlФонЗаголовка);"></div>
        </div>
        <div class="wrapper">
            <ul class="breadcrumbs">
                <li><a href="\">Главная</a></li>
                <li><a href="@urlОКомпании">О компании</a></li>
            </ul>

            <div class="top-block-default__text">
                <h1>
                    <span class="colored">Imperium Stroy —</span><span class="br"></span> компания по&nbsp;ремонту
                    квартир в&nbsp;Санкт-Петербурге
                </h1>
                <p>Делаем качественно и&nbsp;на&nbsp;совесть!</p>
            </div>
        </div>
    </section>

    <article class="about-base-block block-default">
        <div class="wrapper">
            <header class="block-default__header">
                <h2>Как мы основали Imperium&nbsp;Stroy</h2>
                <p>
                    <span class="colored">У нашей компании пока небольшая, но очень насыщенная история.</span> Imperium
                    Stroy образовалась как
                    объединение двух профессионалов, любящих свое дело и заинтересованных в том, чтобы как можно больше
                    людей жили и работали в уютных, комфортных и хорошо выглядящих помещениях.
                </p>
            </header>
            <div class="quote">
                <div class="text-block">
                    <p>
                        Я работаю в сфере строительства всю свою сознательную жизнь. Начинал как обычный подсобный
                        рабочий, затем
                        сталмонтажником, потом — мастером. Дальше я доработал до должности прораба, контролировал
                        постройку
                        домов начиная с заливки фундамента и заканчивая внутренней отделкой. За годы работы я накопил
                        колоссальный опыт, который помогает мне в работе до сих пор.
                    </p>
                    <p>
                        В 2017 году после сдачи очередной новостройки мы с моим коллегой и другом Максимом Чернышовым
                        поняли, что
                        нам хочется и дальше развиваться в этой сфере, поэтому решили открыть собственную компанию по
                        ремонту
                        квартир, домов и любых помещений в Санкт-Петербурге — Imperium Stroy.
                    </p>
                    <p>
                        <span class="colored">Мы собрали команду настоящих профессионалов своего дела и всего за 2 года успешно завершили более 200 заказов.</span><span class="br"></span>Большинство клиентов рекомендуют нас друзьям и знакомым, потому что к
                        каждому
                        проекту мы проявляем индивидуальный подход и лично вникаем во все детали
                    </p>

                    <div class="foot">
                        <p>
                            <span>200</span>
                            <small>выполненных проектов</small>
                        </p>
                        <p>
                            <span>2</span>
                            <small>года работы</small>
                        </p>
                    </div>
                </div>
                <div class="img">
                    <img src="@urlПрораба" alt="alt">
                    <p>
                        <span class="name">Роман Ашихмин</span>
                        <span class="post">руководитель строительства</span>
                    </p>
                </div>
            </div>
            <div class="quote">
                <div class="img">
                    <img src="@urlНачальника" alt="alt">
                    <p>
                        <span class="name">Максим Чернышов</span>
                        <span class="post">руководитель компании</span>
                    </p>
                </div>
                <div class="text-block">
                    <p>
                        Мы любим помогать людям. Делать из неприглядных помещений квартиры и дома, в которых хочется жить
                        и проводить как можно больше времени. У каждого заказчика мы подробно узнаем все его требования
                        и пожелания, а затем обязательно отталкиваемся от них в работе.
                    </p>
                    <p>
                        Особое внимание мы уделяем качеству — это для нас принципиальный момент. Мы никогда не снизим
                        качество ремонта, чтобы сэкономить время и взять побольше заказов. Мы работаем на долгосрочную
                        перспективу, и нам важно, чтобы клиенты оставались по-настоящему довольны получившимся
                        результатом.
                    </p>
                    <p>
                        Для ремонта квартир, домов и коммерческих помещений мы привлекаем бригаду квалифицированных
                        специалистов.
                    </p>

                    <p>
                        <span class="bigger">
                            У нас нет “универсалов”, <span class="colored">каждый работник — мастер своего дела</span>, поэтому
                            мы способны обеспечить высокое качество любого вида работ: от укладки плитки до&nbsp;создания
                            декоративных элементов.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </article>
    <section class="about-employees-block">
        <div class="wrapper">
            <header class="text-block">
                <h2>Главная гордость — наши мастера</h2>
                <p>
                    Мы придерживаемся мнения, что для максимально качественного результата каждый специалист должен
                    заниматься своим делом. Поэтому у нас нет “универсалов”, зато есть команда опытных специалистов,
                    каждый из которых досконально разбирается в своей узкой сфере.
                </p>
            </header>

            <div class="about-employees-block__slider" id="employeesSlider" data-slick="employeesSlider">
                <div class="slick-item">
                    <div class="img">
                        <img src="@urlФото_1" alt="alt">
                    </div>
                    <span class="name">Савинов Владислав</span>
                    <span class="post">производитель работ</span>
                </div>
                <div class="slick-item">
                    <div class="img">
                        <img src="@urlФото_2" alt="alt">
                    </div>
                    <span class="name">Ковалев Леонид</span>
                    <span class="post">сантехник</span>
                </div>
                <div class="slick-item">
                    <div class="img">
                        <img src="@urlФото_1" alt="alt">
                    </div>
                    <span class="name">Клеймёнов Антон</span>
                    <span class="post">электромонтажник</span>
                </div>
                <div class="slick-item">
                    <div class="img">
                        <img src="@urlФото_2" alt="alt">
                    </div>
                    <span class="name">Чернышов Максим</span>
                    <span class="post">руководитель компании</span>
                </div>
                <div class="slick-item">
                    <div class="img">
                        <img src="@urlФото_1" alt="alt">
                    </div>
                    <span class="name">Ашихмин Роман</span>
                    <span class="post">руководитель строительства</span>
                </div>
                <div class="slick-item">
                    <div class="img">
                        <img src="@urlФото_2" alt="alt">
                    </div>
                    <span class="name">Чернышов Максим</span>
                    <span class="post">руководитель компании</span>
                </div>
            </div>
        </div>
    </section>
    <section class="about-growth">
        <div class="wrapper">
            <div class="about-growth__text text-block">
                <h2>Растем с каждым годом!</h2>
                <p>
                    С момента основания компании в 2017 году Imperium Stroy непрерывно растет. В 2017 году мы успешно
                    завершили ремонт под ключ в 78 помещениях Санкт-Петербурга и Ленобласти. В следующем году этот
                    показатель вырос до 103 помещений. <span class="colored">И в 2019 мы планируем снова увеличить его.</span>
                </p>
                <p>
                    Немалая часть наших клиентов — это друзья, родственники и знакомые тех, для кого мы уже сделали
                    ремонт квартиры или дома. Нас советуют и рекламируют по сарафанному радио, поэтому и растет число
                    заказов.
                </p>
                <p>
                    Закажите у нас ремонт своего помещения и мы гарантируем, что после сотрудничества вы тоже будете
                    советовать нас друзьям и знакомым.
                </p>
            </div>
            <div class="about-growth__diagram">
                <div class="graphs">
                    <div class="graph" style="min-height: 61.21%;">
                        <span class="year">2017</span>
                        <span class="val">78</span>
                    </div>
                    <div class="graph" style="min-height: 88.78%;">
                        <span class="year">2018</span>
                        <span class="val">104</span>
                    </div>
                    <div class="graph orange" style="min-height: 100%;">
                        <span class="year">2019</span>
                        <span class="val">116</span>
                    </div>
                </div>
                <span class="note">*график роста сданных объектов по годам</span>
            </div>
        </div>
    </section>

    <section class="block-default projects-main-block">
        <div class="wrapper">
            <h2>Помещения, которые <span class="colored">мы&nbsp;отремонтировали</span></h2>

            <div class="projects-main-block__images slick-slider rellax-bigonly" data-rellax-speed="2"
                 data-rellax-percentage="0.5" data-slick="projectsMainImages"
                 id="projectsMainImages">
                <div class="slick-item">
                    <img src="~/assets/images/content/projects.png" alt="alt">
                </div>
                <div class="slick-item">
                    <img src="~/assets/images/content/mainTab1.png" alt="alt">
                </div>
                <div class="slick-item">
                    <img src="~/assets/images/content/mainTab2.png" alt="alt">
                </div>
            </div>

            <div class="projects-main-block__text slick-slider" data-slick="projectsMainText" id="projectsMainText">
                <article class="slick-item">
                    <h3>
                        Ремонт струдии в Девяткино
                        Всеволожский район.
                    </h3>
                    <p>Относительно бюджетный ремонт студии в&nbsp;новостройке в&nbsp;г.Девяткино</p>
                    <footer>
                        <p class="col">
                            <small>площадь</small>
                            <span>80 м<sup>2</sup></span>
                        </p>
                        <p class="col">
                            <small>срок</small>
                            <span>34 дня</span>
                        </p>
                        <p class="col">
                            <small>цена за 1 м<sup>2</sup></small>
                            <span>9 200 ₽</span>
                        </p>
                    </footer>
                </article>
                <article class="slick-item">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur autem cum eos error
                        exercitationem maxime non perferendis praesentium quaerat quam reiciendis repellendus, saepe
                        similique soluta voluptate, voluptatibus. Asperiores, eos!
                    </p>
                    <footer>
                        <p class="col">
                            <small>площадь</small>
                            <span>80 м<sup>2</sup></span>
                        </p>
                        <p class="col">
                            <small>срок</small>
                            <span>34 дня</span>
                        </p>
                        <p class="col">
                            <small>цена за 1 м<sup>2</sup></small>
                            <span>9 200 ₽</span>
                        </p>
                    </footer>
                </article>
                <article class="slick-item">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut fugit harum iste labore
                        laudantium magnam numquam omnis reprehenderit vel!
                    </p>
                    <footer>
                        <p class="col">
                            <small>площадь</small>
                            <span>80 м<sup>2</sup></span>
                        </p>
                        <p class="col">
                            <small>срок</small>
                            <span>34 дня</span>
                        </p>
                        <p class="col">
                            <small>цена за 1 м<sup>2</sup></small>
                            <span>9 200 ₽</span>
                        </p>
                    </footer>
                </article>
            </div>

            <div class="projects-main-block__foot">
                <a href="#">Все проекты</a>
            </div>
        </div>
    </section>
    <section class="testimonials-block block-default">
        <div class="wrapper">
            <h2>Что говорят о&nbsp;нашем ремонте?</h2>

            <div class="testimonials-block__slider" id="testimonialsSlider" data-slick="testimonialsSlider">
                <div class="slick-item">
                    <div class="content">
                        <p>
                            Благодарю Максима и его команду за работы по отделке нашей студии в Лондон Парке, сделали
                            работы
                            в срок и по оптимальной цене. Сравнинивали с тремя организациями, их цена была ниже, никаких
                            дополнительных работ больше не считали, все договоренности соблюдены!
                        </p>
                    </div>
                    <div class="foot">
                        <span>Павел А.</span>
                        <div>
                            <a href="#"><svg class="icon icon-vk"><use xlink:href="~/assets/images/svg-symbols.svg#icon-vk"></use></svg></a>
                        </div>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque nihil similique?
                            Aperiam, autem culpa, delectus eveniet exercitationem harum hic in, iusto laboriosam magnam
                            molestias neque quidem quisquam repudiandae unde?
                        </p>
                    </div>
                    <div class="foot">
                        <span>Павел А.</span>
                        <div>
                            <a href="#"><svg class="icon icon-vk"><use xlink:href="~/assets/images/svg-symbols.svg#icon-vk"></use></svg></a>
                        </div>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur
                            corporis cum dicta necessitatibus recusandae, sequi tempora ut voluptatum!
                        </p>
                    </div>
                    <div class="foot">
                        <span>Павел А.</span>
                        <div>
                            <a href="#"><svg class="icon icon-vk"><use xlink:href="~/assets/images/svg-symbols.svg#icon-vk"></use></svg></a>
                        </div>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, molestiae.</p>
                    </div>
                    <div class="foot">
                        <span>Павел А.</span>
                        <div>
                            <a href="#"><svg class="icon icon-vk"><use xlink:href="~/assets/images/svg-symbols.svg#icon-vk"></use></svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="callback-block">
        <div class="bg" style="background-image: url(@urlPhoto_Callback_bg);"></div>
        <div class="wrapper">
            <form action="#" class="form-default">
                <div class="form-default__message">
                    <p>Ваше сообщение успешно отправлено!</p>
                </div>
                <div>
                    <header>
                        <h2>Консультируем бесплатно</h2>
                        <p>
                            Если у вас есть вопросы по ремонту и вам нужен совет опытных специалистов, которые глубоко
                            разбираются в этой теме, мы готовы бесплатно вас проконсультировать.
                        </p>
                    </header>
                    <div>
                        <label class="input-container">
                            <input type="tel" placeholder="Ваш номер телефона">
                        </label>
                        <label class="input-container">
                            <input type="email" placeholder="Элекронная почта">
                        </label>
                        <button class="button-default inline" type="submit">заказать консультацию</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
